{*volist name="list" id="vo"*}
<article class="article">
    <header class="article-header">
        <h2>
            {*if $vo.type == 0*}
            <a href="{*$vo.href*}" rel="bookmark">{*$vo.title*}</a>
            {*elseif $vo.type == 1 /*}{*$vo.title*}
            {*else /*}
            {*/if*}
        </h2>
    </header>
    <div class="article-content">
        {*if $vo.type == 0*}
        <p class="article-info">
            {*$vo.date*}
            {*//:url('Index/index', ['author'=>$vo.author])*}
            <a href="/author/{*$vo.author*}" data-pjax>{*$vo.author*}</a>
        </p>
        {*$vo.content|raw*}
        <p>
            <a href="{*$vo.href*}">阅读全文&gt;&gt;</a>
        </p>
        {*else /*}
        {*$vo.content*}
        {*/if*}
    </div>
    {*if $vo.type == 0*}
    <footer class="article-footer">
        <a href="{*$vo.href*}">浏览(0)</a>
    </footer>
    {*/if*}
</article>
{*/volist*}
<script>
    my.init();
</script>